.Closet {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-btn {
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  border: 2px solid transparent;
  border-color: green;
  color: #000;
  background: transparent;
  font-weight: 800;
  line-height: 1.5em;
  transition: background, color 0.2s ease-in-out;
margin: 1em;
}

.add-btn:hover {
  background-color:green;
  color: #fff;
}

.closet-container{
   display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;

}