.Enlarged {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.el-title {
  text-align: center;
  color: #000;
  margin-top: 10px;
}

.el-container {
  display: flex;
}
.details p {
  margin: 0.5em;
}

.offer-msg {
  text-align: center;
  color: green;
  margin: 0%;
  margin-bottom: 1em;
}

.offer-form {
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container button {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 4.5em;
}

.offerInput {
  border: none;
  border-bottom: black solid 1px;
  outline: none;
  color: black;
  font-size: 16px;
}

@media (max-width: 424px) {
  .el-title {
    font-size: 20px;
  }
  .el-image {
    width: 300px;
    margin-bottom: 5px;
  }

  .el-container {
    flex-direction: column;
  }

  .details p {
    margin: 0.2em;
    font-size: 10px;
  }

  .details {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    margin-bottom: 5px;
  }

  .copy-msg {
    margin-top: 1em;
    font-size: 15px;
  }

  .general-button {
    margin-top: 1em;
  }
}

@media (min-width: 425px) {
  .el-title {
    font-size: 23px;
  }
  .el-image {
    width: 350px;
    margin-bottom: 5px;
  }

  .el-container {
    flex-direction: column;
  }

  .details p {
    margin: 0.2em;
    font-size: 14px;
  }

  .details {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    margin-bottom: 5px;
  }

  .copy-msg {
    font-size: 17px;
  }

  .general-button {
    margin-top: 1em;
  }

  .offer-form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 220px;
  }
}

@media (min-width: 768px) {
  .el-title {
    font-size: 25px;
  }
  .el-image {
    width: 350px;
    margin-bottom: 5px;
  }

  .el-container {
    flex-direction: row;
  }

  .details p {
    margin: 0.5em;
    margin-left: 0.5em;
    font-size: 14px;
  }

  .details {
    border-top: none;
    border-bottom: none;
    border-left: solid 1px black;
    margin-bottom: 5px;
  }

  .copy-msg {
    font-size: 17px;
  }

  .general-button {
    margin-top: 1em;
  }

  .offer-form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 300px;
  }
}

@media (min-width: 1024px) {
  .el-title {
    font-size: 35px;
    margin: 20px;
  }
  .el-image {
    width: 520px;
    margin-bottom: 5px;
    margin-right: 5px;
  }

  .el-container {
    flex-direction: row;
    margin: 10px;
  }

  .details p {
    margin: 0.5em;
    margin-left: 0.5em;
    font-size: 18px;
  }

  .details {
    border-top: none;
    border-bottom: none;
    border-left: solid 1px black;
    margin-bottom: 5px;
  }

  .copy-msg {
    font-size: 20px;
  }

  .general-button {
    margin-top: 1em;
  }

  .offer-form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 350px;
  }
}
