@keyframes spinning {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation-name: spinning;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 90%;
}

.home-button {
  background-color: black;
  transition: transform 0.2s ease-in-out;
  color: rgba(245, 245, 245, 0.7);
  border: 2px solid black;
  box-shadow: 0 1px 15px 2px rgba(255, 105, 180, 0.35);
  cursor: pointer;
  border-radius: 5px;
  width: 6em;
  color: rgba(245, 245, 245, 0.9);
  font-size: 20px;
  letter-spacing: 0.15rem;
}
.error {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.errorMessage {
  font-size: 2em;
  color: rgba(0, 0, 0, 0.7);
  margin: 5%;
}
