.CreatePost {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  margin-top: 1em;
}

.save-btn {
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  border: 2px solid transparent;
  border-color: green;
  color: #000;
  background: transparent;
  font-weight: 800;
  line-height: 1.5em;
  transition: background, color 0.2s ease-in-out;
  margin-top: 5px;
  margin-bottom: 1em;
}

.save-btn:hover {
  background-color: green;
  color: #fff;
}

.save-msg {
  color: green;
  margin: 0%;
}

.newPost {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 3px dashed green;
  width: 17em;
}

.postForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 3px dashed;
  height: 100%;
}

.postForm input {
  width: 70%;
}
