main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    height: 95vh;
    text-align: center;
    /* align-items: center; */
    overflow: none;
}
h1 {
    font-size: 4em;
    margin: 2%;
}
