@import url("https://fonts.googleapis.com/css?family=Montserrat:600&display=swap");

main {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 95vh;
  text-align: center;
  align-items: center;
  overflow: none;
  background-color: white;
}
