.recent {
  width: 70%;
}

.slider {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2em;
  align-items: center;
}

.right {
  right: 5%;
}

.left {
  left: 5%;
}

.slide-btn {
  position: absolute;
  top: 40%;
  font-size: 3rem;
  z-index: 10;
  color: black;
  cursor: pointer;
  user-select: none;
  background: none;
  border: none;
}

.slide-btn:hover {
  color: green;
}


.slide.active {
  opacity: 1;
transition: transform 0.2s ease-in-out;
  transform: (2);
}

.slide.active:hover{
    transform: scale(1.1);
}

.added {
  text-align: start;
  margin-left: 10%;
  margin-bottom: 0%;
}
