.recent {
  width: 70%;
}

.slider {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2em;
  align-items: center;
}

.right {
  right: 5%;
}

.left {
  left: 5%;
}

.left,
.right {
  position: absolute;
  top: 40%;
  font-size: 3rem;
  z-index: 10;
  color: black;
  cursor: pointer;
  user-select: none;
  background: none;
  border: none;
}

.slide {
  opacity: 0;
  transition: duration 2s ease;
}

.slide.active {
  opacity: 7;
  transition: duration 2s ease;
  transform: (2.08);
}

.added {
  text-align: start;
  margin-left: 10%;
  margin-bottom: 0%;
}
