
.slider {
  position: relative;
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2em;
  align-items: center;
}

.right {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  z-index: 10;
  color: black;
  cursor: pointer;
  user-select: none;
}

.slide {
    opacity: 0;
    transition: duration 1s ease;
    
}

.slide.active {
    opacity: 1;
    transition: duration 1s ease;
    transform: (1.08);
    
}
