@font-face {
  font-family: Imported;
  src: url(../../assets/HKechibi.otf);
}
.NavBar {
  width: 100%;
}
.header {
  font-size: 4em;
  margin: 0.5%;
  font-family: Imported;
  letter-spacing: 0.09em;
  font-size: 7em;
}

.nav {
  margin-left: 3%;
  margin-right: 3%;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: black;
  background: none;
  cursor: pointer;
  position: relative;
  font-size: x-large;
}

.search-box {
  display: flex;
  margin-top: 1em;
  margin-left: 40%;
  height: 1em;
  padding: 0.5em;
  width: 20%;
  border: dashed 2px black;
}

.search-box:hover > .input {
  width: 230px;
  padding: 0 6px;
}

.search-box:hover > .magnify {
  display: none;
}

.magnify {
  float: right;
  width: 20px;
  height: 20px;
  border-radius: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

.input::placeholder {
  color: black;
}

.logo {
  width: 120px;
}
