.Footer {
  position: fixed;
  bottom: 0px;
  right: 5px;
}

.img {
  color: black;
  height: auto;
  width: 30px;
  margin-left: 0.2em;
}

.img:hover {
  color: green;
}

@media (max-width: 424px) {
  .Footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    right: 2px;
  }
}
