h1 {
  margin: 3%;
}

.Login {
  margin-top: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black dashed 4px;
  height: auto;
}

.username,
.password {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  color: black;
  font-size: 18px;
  width: 250px;
  height: 30px;
  margin: 0.5em;
}

.login-message {
  text-align: center;
  margin:10px;
}

@media (max-width: 424px) {
  .Login {
    width: 18em;
  }

  .general-button {
    margin-top: 1em;
  }
  .login-message {
 font-size: 14px;
}
}

@media (min-width: 425px) {
  .Login {
    width: 20em;
  }
}

@media (min-width: 768px) {
  .Login {
    width: 22em;
  }
}

@media (min-width: 1024px) {
  .Login {
    width: 24em;
    height:20em;
  }
}
