h1 {
  margin: 3%;
}

.Login {
  margin-top: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black dashed 4px;
  width: 25%;
  height: 30%;
}

.login-btn {
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  border: 2px solid transparent;
  border-color: green;
  color: #000;
  background: transparent;
  font-weight: 800;
  line-height: 1.5em;
  transition: background, color 0.2s ease-in-out;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.login-btn:hover {
  background-color: green;
  color: #fff;
  
}

.username,
.password {
  width: 70%;
  height: 15%;
  margin: 3%;
  background-color: white;

}
