@font-face {
  font-family: Imported;
  src: url(../../assets/NN.otf);
}

.NavBar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.constant {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.header {
  text-align: center;
  margin: 0.5%;
  font-family: Imported;
  letter-spacing: -0.1em;
  color: black;
  margin-top: 0.2em;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: black;
  background: none;
  cursor: pointer;
  position: relative;
  font-size: x-large;
}

.nav:hover {
  color: green;
}

.search-container {
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.search-box {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  border: dashed 2px black;
}

.input {
  border: none;
  outline: none;
  color: black;
  font-size: 16px;
}

.input::placeholder {
  color: black;
}

@media (max-width: 424px) {
  .header {
    margin-top: 10px;
    font-size: 2.5em;
    color: black;
    margin-bottom: 5px;
  }

  .nav {
    font-size: large;
    margin-bottom: 10px;
  }

  .search-box {
    height: 0.75em;
  }
}

@media (min-width: 425px) {
  .header {
    font-size: 3.5em;
  }

  .nav {
    font-size: x-large;
  }

  .search-box {
    width: 200px;
  }
}

@media (min-width: 768px) {
  .header {
    font-size: 6em;
  }

  .nav {
    font-size: 30px;
  }

  .search-box {
    width: 300px;
  }
  .NavBar {
    width: 75%;
  }
}

@media (min-width: 1024px) {
  .header {
    font-size: 7em;
  }

  .NavBar {
    width: 75%;
  }
  .search-box {
    width: 350px;
  }
}
